<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/public/css/output.css" rel="stylesheet">
    
</head>

<body>

    <div style="background-image: url('/resources/ImagenesParaCruds/fondoVIVALAVIDA.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;">
        <!-- style="background-image: url('/resources/ImagenesParaCruds/FONDO CRUDS.gif'); background-size: cover; background-position: center; background-repeat: no-repeat;" -->
        <div id="contenido_vista " class=" sm:ml-64">
            <%- include('navbar_admin') %>
                <div class="h-screen overflow-y-auto">
                    <%- include(body)%>
                </div>
        </div>

    </div>

</body>

</html>