<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% title %>
    </title>
    <link href="/public/css/output.css" rel="stylesheet">
</head>

<body>
    <% if(areas){ %>
        <div class="container mx-auto mt-10 px-4 sm:px-6 lg:px-8">
            <div class="p-4 rounded-lg shadow backdrop-blur-lg bg-transparent">
                <div class="overflow-x-auto">
                    <div class="flex flex-col justify-between items-center mb-4">
                        <h1 class="text-6xl font-bold mb-4 text-gray-50 italic"
                            style="text-shadow: 0 0 5px #d30ae9, 0 0 10px #d30ae9, 0 0 20px #d30ae9, 0 0 40px #d30ae9">
                            Editar Area</h1>
                    </div>
                    <form action="/update_areas" method="POST" class="mx-auto max-w-md">
                        <input type="hidden" id="IDAREA" name="IDAREA" value="<%= areas.IDAREA %>">
                        <div class="mb-4 text-center">
                            <label for="NOMBRE_AREA" class=" text-gray-50"
                                style="text-shadow: 0 0 5px #d30ae9, 0 0 10px #d30ae9, 0 0 20px #d30ae9, 0 0 40px #d30ae9">Nombre</label>
                            <input type="text" name="NOMBRE_AREA" id="NOMBRE_AREA"
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                placeholder="NOMBRE_AREA" required value="<%= areas.NOMBRE_AREA %>" />
                        </div>
                        <div class="flex justify-between">
                            <button type="submit"
                                class="w-full bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 rounded-md">Aceptar</button>
                            <a href="/areas"
                                class="w-full ml-4 bg-red-600 hover:bg-red-700 text-white font-bold py-2 rounded-md text-center">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
</body>

</html>